<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ssm.mapper.FoodMapper">

    <!--Food find(Food food);-->
    <select id="find" parameterType="string" statementType="CALLABLE" resultType="Food">
        {call demo3(#{Fname, mode = IN})}
    </select>

    <!--Food check(Food food);-->
    <select id="check" resultType="Food">
        select * from food where Fname = #{Fname};
    </select>

    <!--void add(Food food);-->
    <insert id="add" parameterType="string" statementType="CALLABLE">
        {call demo(#{Fname, mode = IN}, #{Fcategory, mode = IN}, #{Fintro, mode = IN}, #{Fhistory, mode = IN}, #{Fphoto, mode = IN})}
    </insert>

    <!--Food delete(Food food);-->
    <delete id="delete" parameterType="string" statementType="CALLABLE">
        {call demo2(#{Fname, mode = IN})}
    </delete>

    <!--void update(Food food);-->
    <update id="update" parameterType="string" statementType="CALLABLE">
        {call demo4(#{Fname, mode = IN}, #{Fcategory, mode = IN}, #{Fintro, mode = IN}, #{Fhistory, mode = IN}, #{Fphoto, mode = IN})}
    </update>
</mapper>