<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ssm.mapper.MeijingMapper">
    <!--Meijing find(Meijing meijing);-->
    <select id="find" resultType="Meijing">
        select * from meijing where Mname = #{Mname};
    </select>

    <!--Meijing check(Meijing meijing);-->
    <select id="check" resultType="Meijing">
        select * from meijing where Mname = #{Mname};
    </select>

    <!--void add(Meijing meijing);-->
    <insert id="add">
        insert into meijing values (#{Mname}, #{Maddress}, #{Mintro}, #{Mhistory}, #{Mphoto});
    </insert>

    <!--void delete(Meijing meijing);-->
    <delete id="delete">
        delete from meijing where Mname = #{Mname};
    </delete>

    <!--void update(Meijing meijing);-->
    <update id="update">
        update meijing set Mname = #{Mname}, Maddress = #{Maddress}, Mintro = #{Mintro}, Mhistory = #{Mhistory}, Mphoto = #{Mphoto} where Mname = #{Mname};
    </update>
</mapper>