<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ssm.mapper.RenwenMapper">

    <!--Renwen find(Renwen renwen)-->
    <select id="find" resultType="Renwen">
        select * from renwen where Rname = #{Rname};
    </select>

    <!--void add(Renwen renwen);-->
    <insert id="add">
        insert into renwen values (#{Rname}, #{Raddress}, #{Rintro}, #{Rhistory}, #{Rphoto});
    </insert>

    <!--Renwen check(Renwen renwen);-->
    <select id="check" resultType="Renwen">
        select * from renwen where Rname = #{Rname};
    </select>

    <!--void delete(Renwen renwen);-->
    <delete id="delete">
        delete from renwen where Rname = #{Rname};
    </delete>

    <!--void update(Renwen renwen);-->
    <update id="update">
        update renwen set Rname = #{Rname}, Raddress = #{Raddress}, Rintro = #{Rintro}, Rhistory = #{Rhistory}, Rphoto = #{Rphoto} where Rname = #{Rname};
    </update>

</mapper>